@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
/* ATOMS */
/* MOLECULES */
.font-primary {
  font-family: "Open Sans Condensed"; }
  .font-primary.bold {
    font-weight: 700; }
  .font-primary.italic {
    font-style: italic; }

.font-secondary {
  font-family: "Source Sans Pro"; }
  .font-secondary.bold {
    font-weight: 600; }
  .font-secondary.italic {
    font-style: italic; }

.color-primary-1, .cta-1-inverted {
  color: #D95499; }

.color-bg-primary-1, .cta-1 {
  background-color: #D95499; }

.color-primary-2 {
  color: #579881; }

.color-bg-primary-2 {
  background-color: #579881; }

.color-secondary-1 {
  color: #DBECE6; }

.color-bg-secondary-1 {
  background-color: #DBECE6; }

.color-secondary-2 {
  color: #89c6ad; }

.color-bg-secondary-2 {
  background-color: #89c6ad; }

.color-secondary-3 {
  color: #FFF5FA; }

.color-bg-secondary-3 {
  background-color: #FFF5FA; }

.color-neutral-1, .cta-1 {
  color: white; }

.color-bg-neutral-1 {
  background-color: white; }

.color-neutral-2 {
  color: #6a6a6a; }

.color-bg-neutral-2 {
  background-color: #6a6a6a; }

.color-neutral-3 {
  color: #6a6a6a; }

.color-bg-neutral-3 {
  background-color: #6a6a6a; }

.h1 {
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-weight: normal; }

.h2 {
  font-family: "Open Sans Condensed";
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase; }

.h3 {
  font-family: "Open Sans Condensed";
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase; }

.h4 {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: bold; }

.h5 {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: bold; }

.h6 {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: bold; }

.button, .cta-1, .cta-1-inverted {
  font-family: "Open Sans Condensed";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  border-radius: 6px;
  border: none;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin: 10px; }
  .button:hover, .cta-1:hover, .cta-1-inverted:hover {
    background-color: gray; }
  .button i, .cta-1 i, .cta-1-inverted i {
    margin-right: 10px; }

.cta-1:hover {
  background-color: #b82973; }

.cta-1-inverted {
  border: 1px solid #D95499;
  background-color: transparent; }
  .cta-1-inverted:hover {
    background-color: #b82973;
    color: white;
    border: 1px solid #b82973; }
