@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
/* ATOMS */
/* MOLECULES */
.font-primary {
  font-family: "Open Sans Condensed"; }
  .font-primary.bold {
    font-weight: 700; }
  .font-primary.italic {
    font-style: italic; }

.font-secondary {
  font-family: "Source Sans Pro"; }
  .font-secondary.bold {
    font-weight: 600; }
  .font-secondary.italic {
    font-style: italic; }

.color-primary-1, .cta-1-inverted {
  color: #D95499; }

.color-bg-primary-1, .cta-1, button {
  background-color: #D95499; }

.color-primary-2 {
  color: #579881; }

.color-bg-primary-2 {
  background-color: #579881; }

.color-secondary-1 {
  color: #DBECE6; }

.color-bg-secondary-1 {
  background-color: #DBECE6; }

.color-secondary-2 {
  color: #89c6ad; }

.color-bg-secondary-2 {
  background-color: #89c6ad; }

.color-secondary-3 {
  color: #FFF5FA; }

.color-bg-secondary-3 {
  background-color: #FFF5FA; }

.color-neutral-1, .cta-1, button {
  color: white; }

.color-bg-neutral-1 {
  background-color: white; }

.color-neutral-2 {
  color: #BEBEBE; }

.color-bg-neutral-2 {
  background-color: #BEBEBE; }

.color-neutral-3 {
  color: #6a6a6a; }

.color-bg-neutral-3 {
  background-color: #6a6a6a; }

.color-neutral-4 {
  color: #2c2c2c; }

.color-bg-neutral-4 {
  background-color: #2c2c2c; }

.h1, h1 {
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-weight: normal; }

.h2, h2 {
  font-family: "Open Sans Condensed";
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase; }

.h3, h3 {
  font-family: "Open Sans Condensed";
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase; }

.h4, h4 {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: bold; }

.h5, h5 {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: bold; }

.h6, h6 {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: bold; }

.paragraph, p {
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 1.75;
  font-weight: 300;
  margin-bottom: 20px; }
  .paragraph.lead, p.lead {
    font-family: "Source Sans Pro";
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    margin-bottom: 20px; }

.button, .cta-1, button, .cta-1-inverted {
  font-family: "Open Sans Condensed";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  border-radius: 6px;
  border: none;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin: 10px; }
  .button:hover, .cta-1:hover, button:hover, .cta-1-inverted:hover {
    background-color: gray; }
  .button i, .cta-1 i, button i, .cta-1-inverted i {
    margin-right: 10px; }

.input-text {
  border-radius: 6px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #BEBEBE; }
  font .input-text::-webkit-input-placeholder {
    color: #BEBEBE;
    font-style: italic; }

.cta-1:hover, button:hover {
  background-color: #b82973; }

.cta-1-inverted {
  border: 1px solid #D95499;
  background-color: transparent; }
  .cta-1-inverted:hover {
    background-color: #b82973;
    color: white;
    border: 1px solid #b82973; }
