.row{
    padding-bottom:15px;
}

body.lko{
    .kvlv{
        display:none !important;
    }
    .lt{
        display:none !important;
    }
    .oziki{
        display:none !important;
    }
    .puuur{
        display:none !important;
    }
}

body.kvlv{
    .lko{
        display:none !important;
    }
    .lt{
        display:none !important;
    }
    .oziki{
        display:none !important;
    }
    .puuur{
        display:none !important;
    }
}

body.lt{
    .lko{
        display:none !important;
    }
    .kvlv{
        display:none !important;
    }
    .oziki{
        display:none !important;
    }
    .puuur{
        display:none !important;
    }
}
body.oziki{
    .lko{
        display:none !important;
    }
    .kvlv{
        display:none !important;
    }
    .lt{
        display:none !important;
    }
    .puuur{
        display:none !important;
    }
}
body.puuur{
    .lko{
        display:none !important;
    }
    .kvlv{
        display:none !important;
    }
    .lt{
        display:none !important;
    }
    .oziki{
        display:none !important;
    }
}