<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

      <!-- Org Selector -->
      <div class="dropdown" id="cssSelector">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="cssSelectorButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Organisation  
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header">Organisations</h6>
            <a class="dropdown-item" href="#" rel="css/lko-classonly.css" org="lko">Landelijke Kinderopvang</a>
            <a class="dropdown-item" href="#" rel="css/kvlv-classonly.css" org="kvlv">KVLV</a>
            <a class="dropdown-item" href="#" rel="css/puuur-classonly.css" org="puuur">Puuur</a>
            <a class="dropdown-item" href="#" rel="css/lt-classonly.css" org="lt">Landelijke Thuiszorg</a>
            <a class="dropdown-item" href="#" rel="css/oziki-classonly.css" org="oziki">Oziki</a>
        </div>
      </div>

      <!-- Mobile navigation -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation -->
      <div class="collapse navbar-collapse" id="topnav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="atoms.html">Atoms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="molecules.html">Molecules</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="organisms.html">Organisms</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="templates.html">Templates</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="pages.html">Pages</a>
          </li>
        </ul>
      </div>

      <!-- Brand -->
      <a class="navbar-brand" href="#">Groep Ons - Design System</a>
    </nav>