// Primary Colors
.color-primary-1{
    color: $primary-color-1;
}

.color-bg-primary-1{
    background-color: $primary-color-1;
}

.color-primary-2{
    color: $primary-color-2;
}

.color-bg-primary-2{
    background-color: $primary-color-2;
}

.color-primary-3{
    color: $primary-color-3;
}

.color-bg-primary-3{
    background-color: $primary-color-3;
}

.color-primary-4{
    color: $primary-color-4;
}

.color-bg-primary-4{
    background-color: $primary-color-4;
}