<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Groep Ons - Design System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="topnav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Atoms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Molecules</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Organisms</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Templates</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Pages</a>
          </li>
        </ul>
        <div class="dropdown" id="cssSelector">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="cssSelectorButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Change Organisation
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" rel="css/lko.css">Landelijke Kinderopvang</a>
                <a class="dropdown-item" href="#" rel="css/kvlv.css">KVLV</a>
                <a class="dropdown-item" href="#" rel="css/puuur.css">Puuur</a>
            </div>
        </div>
      </div>
    </nav>