
<script src="vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="vendor/js-cookie/js.cookie.min.js"></script>

<script src="vendor/bootstrap4/js/bootstrap.js"></script>

<script>

if(Cookies.get("css")) {
	// Set current CSS file to Cookie value
	$("#orgCss").attr("href",Cookies.get("css","href"));
	// Set title to current Cookie value
	$("#cssSelectorButton").text(Cookies.get("longOrg"));
}
$(document).ready(function() {
	$("#cssSelector div a").click(function() {
		// Set new CSS Value
		$("orgCss").attr("href",$(this).attr('rel'));
		
	
		// Set new Cookie value
		Cookies.set("css",$(this).attr('rel'), {expires: 365, path: '/'});
		Cookies.set("longOrg",$(this).text(), {expires: 365, path: '/'});
		Cookies.set("shortOrg",$(this).attr('org'), {expires: 365, path: '/'});

		// Reload the current page
        location.reload();
		return false;
	});
});
</script>