<div class="oziki">
    <h6>Primary colors</h6>
    <ul class="colors">
        <li>
            <div class="color color-bg-primary-1"></div>
            <div>.color-primary-1</div>
            <div>.color-bg-primary-1</div>
            <div>#E84693</div>
        </li>
    </ul>
    <h6> Secondary colors </h6>
    <ul class="colors">
        <li>
            <div class="color color-bg-primary-2"></div>
            <div>.color-primary-2</div>
            <div>.color-bg-primary-2</div>
            <div>#868786</div>
        </li>
    </ul>
</div>