<div class="lt">
    <h6>Primary colors</h6>
    <ul class="colors">
        <li>
            <div class="color color-bg-primary-1"></div>
            <div>.color-primary-1</div>
            <div>.color-bg-primary-1</div>
            <div>#73C3AE</div>
        </li>
          <li>
            <div class="color color-bg-primary-2"></div>
            <div>.color-primary-2</div>
            <div>.color-bg-primary-2</div>
            <div>#203A34</div>
        </li>
          <li>
            <div class="color color-bg-primary-3"></div>
            <div>.color-primary-3</div>
            <div>.color-bg-primary-3</div>
            <div>#ED6A6E</div>
        </li>
          <li>
            <div class="color color-bg-primary-4"></div>
            <div>.color-primary-4</div>
            <div>.color-bg-primary-4</div>
            <div>#ECF1EF</div>
        </li>
    </ul>
</div>