<div class="lt">
    <h6>Primary colors</h6>
    <ul class="colors">
        <li>
            <div class="color" style="background-color: #73C3AE"></div>
            <div>Variable</div>
            <div>#73C3AE</div>
        </li>
          <li>
            <div class="color" style="background-color: #203A34"></div>
            <div>Variable</div>
            <div>#203A34</div>
        </li>
          <li>
            <div class="color" style="background-color: #ED6A6E"></div>
            <div>Variable</div>
            <div>#ED6A6E</div>
        </li>
          <li>
            <div class="color" style="background-color: #ECF1EF"></div>
            <div>Variable</div>
            <div>#ECF1EF</div>
        </li>
    </ul>
</div>