// Primary Colors
.color-primary-1{
    color: $primary-color-1;
}

.color-bg-primary-1{
    background-color: $primary-color-1;
}

// Secondary Colors
.color-secondary-1{
    color: $secondary-color-1;
}

.color-bg-secondary-1{
    background-color: $secondary-color-1;
}