// Importing font files from Google
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

// Primary colors
$primary-color-1:#C4D600;

// Secondary colors
$secondary-color-1: #693C5E;

// Neutral colors

// Fonts
$primary-font: "Ubuntu";
