<div class="lko">
    <h6>Primary colors</h6>
    <ul class="colors">
        <li>
            <div class="color color-bg-primary-1"></div>
            <div>.color-primary-1</div>
            <div>.color-bg-primary-1</div>
            <div>#D95499</div>
        </li>
        <li>
            <div class="color color-bg-primary-2"></div>
            <div>.color-primary-2</div>
            <div>.color-bg-primary-2</div>
            <div>#579881</div>
        </li>
    </ul>
    <h6>Secondary colors</h6>
    <ul class="colors">
        <li>
            <div class="color color-bg-secondary-1"></div>
            <div>.color-secondary-1</div>
            <div>.color-bg-secondary-1</div>
            <div>#DBECE6</div>
        </li>
        <li>
            <div class="color color-bg-secondary-2"></div>
            <div>.color-secondary-2</div>
            <div>.color-bg-secondary-2</div>
            <div>#89C6AD</div>
        </li>
        <li>
            <div class="color color-bg-secondary-3"></div>
            <div>.color-secondary-3</div>
            <div>.color-bg-secondary-3</div>
            <div>#FFF5FA</div>
        </li>
    </ul>
    <h6>Neutral colors</h6>
    <ul class="colors">
        <li>
            <div class="color color-bg-neutral-1"></div>
            <div>.color-neutral-1</div>
            <div>.color-bg-neutral-1</div>
            <div>#FFFFFF</div>
        </li>
        <li>
            <div class="color color-bg-neutral-2"></div>
            <div>.color-neutral-1</div>
            <div>.color-bg-neutral-1</div>
            <div>#6A6A6A</div>
        </li>
        <li>
            <div class="color color-bg-neutral-3"></div>
            <div>.color-neutral-1</div>
            <div>.color-bg-neutral-1</div>
            <div>#2C2C2C</div>
        </li>
    </ul>
</div>