<div class="lko">
    <h6>Primary font</h6>
    <div><span>Open Sans Condensed - </span><span class="font-primary">The quick brown fox jumps over the lazy dog</span></div>
    <div><span>Open Sans Condensed, 700 weight - </span><span class="font-primary bold">The quick brown fox jumps over the lazy dog</span></div>
    <div><span>Open Sans Condensed, italic - </span><span class="font-primary italic">The quick brown fox jumps over the lazy dog</span></div>
    <br />
    <h6>Secondary font</h6>
    <div><span>Source Sans Pro - </span><span class="font-secondary">The quick brown fox jumps over the lazy dog</span></div>
    <div><span>Source Sans Pro, 600 weight - </span><span class="font-secondary bold">The quick brown fox jumps over the lazy dog</span></div>
    <div><span>Source Sans Pro, italic - </span><span class="font-secondary italic">The quick brown fox jumps over the lazy dog</span></div>
</div>