<div class="kvlv">
    <h6>Primary colors</h6>
    <ul class="colors">
        <li>
            <div class="color color-bg-primary-1"></div>
            <div>.color-primary-1</div>
            <div>.color-bg-primary-1</div>
            <div>#C4D600</div>
        </li>
    </ul>
    <h6> Secondary colors </h6>
    <ul class="colors">
        <li>
            <div class="color color-bg-secondary-1"></div>
            <div>.color-secondary-1</div>
            <div>.color-bg-secondary-1</div>
            <div>#693C5E</div>
        </li>
    </ul>
</div>